extends layout
  
block content
  table.table.table-hover
    thead
      tr
        th(scope="col") #
        th(scope="col") Nazwa
        th(scope="col") Kategoria
        th(scope="col") Ocena 
        th(scope="col") Cena 
    tbody
    for b, i in boards
        tr
            th(scope="row")= i + 1
            td #{b.nazwa} 
            td #{b.kategoria} 
            td #{b.ocena}
            td #{b.cena} zł
          
